/* font-family: 'Pacifico', cursive;
font-family: 'Poiret One', cursive;*/
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: #fafafa;
  color: #222;
}

h1 {
  font-family: 'Pacifico', cursive;
  /* color: #08BDBD; */
}

/* h1 span {
  color: #F21B3F;
} */

h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 3rem;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 25px;
  position: relative;
}

h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #29BF12, #08BDBD, #F21B3F, #FF9914);
}

.App {
  text-align: center;
}

.blurred {
  height: 100vh;
  overflow: hidden;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

img {
  width: 100%;
  height: auto;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.App .btn {
  color: #fff;
  text-transform: uppercase;
}

.App .btn:hover, .App .btn:active, .btn:focus {
  outline: none;
  box-shadow: none;
}

.App .btn.btn-link {
  color: #087abd;
}

.App .btn.btn-link:hover, .App .btn.btn-link:active, .App .btn.btn-link:focus {
  outline: none;
  box-shadow: none;
}

.btn.btn-blue {
  background-color: #087abd;
  border-color: #087abd;
}

.btn.btn-blue:hover, .App .btn.btn-blue:active, .btn.btn-blue:focus {
  background-color: #05669e;
  border-color: #05669e;
}

.btn.btn-green {
  background-color: #29BF12;
  border-color: #29BF12;
}

.btn.btn-green:hover, .App .btn.btn-green:active, .btn.btn-green:focus {
  background-color: #1e920c;
  border-color: #1e920c;
}

.btn.btn-red {
  background-color: #F21B3F;
  border-color: #F21B3F;
}

.btn.btn-orange {
  background-color: #FF9914;
  border-color: #FF9914;
}


/********** NAVBAR **********/
.navbox {
  position: relative;
}

.navbox.floating {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,.85);
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .3);
  border-bottom: 0;
}

.navbox::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #29BF12, #08BDBD, #F21B3F, #FF9914);
}


.navbar a {
  margin: 10px;
}
/********** HOMEPAGE **********/
.homepage {
  display: flex;
  align-items: center;
  background-image: url('./img/chef-bg.png');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.homepage .prompts .btn {
  font-size: 1.5rem;
  padding: .5rem 1.25rem;
}

.home-form {
  background-color: rgba(255,255,255,.85);
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .3);
  width: 65%;
  margin: 0 auto;
  padding: 50px;
}

.homepage .welcome {
  color: #fff;
  margin-bottom: 65px;
}

.homepage .welcome span {
  font-family: 'Pacifico', cursive;
}

/********** INGREDIENT **********/
.ingredient {
  display: inline-block;
  vertical-align: top;
  width: 22%;
  margin: 2% 1%;
  text-align: center;
  font-size: 1.5rem;
}

.ingredient.selected {
  color: green;
}

/********** RECIPE PREVIEW **********/
/* .recipe-preview {
  display: inline-block;
  width: 22%;
  margin: 1%;
  text-align: center;
}
.recipe-preview img {
  display: block;
  width: 100%;
  height: auto;
} */

/********** RECIPE VIEW **********/
.recipe-view {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
}

/* div:not(.recipe-view) {
  filter: blur(2px);
  -webkit-filter: blur(2px);
} */

.recipe-view-inner {
  background-color: rgba(250,250,250, .8);
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .3);
}


/********** LOADER **********/
.loader {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
}

/********** PROFILE **********/
.profile {
  margin: 50px 0;
}

.profile .btn-box {
  margin-top: 25px;
  margin-bottom: 75px;
}
