.App {
  text-align: center;
}

.blurred {
  height: 100vh;
  overflow: hidden;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

img {
  width: 100%;
  height: auto;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

/********** NAVBAR **********/
nav a {
  margin: 10px;
}

/********** INGREDIENT **********/
.ingredient {
  display: inline-block;
  vertical-align: top;
  width: 22%;
  margin: 2% 1%;
  text-align: center;
}

.ingredient.selected {
  color: green;
}

/********** RECIPE PREVIEW **********/
/* .recipe-preview {
  display: inline-block;
  width: 22%;
  margin: 1%;
  text-align: center;
}
.recipe-preview img {
  display: block;
  width: 100%;
  height: auto;
} */

/********** RECIPE VIEW **********/
.recipe-view {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  color: #fff;
}

/* div:not(.recipe-view) {
  filter: blur(2px);
  -webkit-filter: blur(2px);
} */


/********** LOADER **********/
.loader {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
}
